.graficos-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .filtro {
    margin-bottom: 20px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .grafico {
    margin-top: 30px;
  }
  